/* google fonte */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

:root{
   --cor-pricipal: #202793;
  --cor-cinza: #aea9bb;
  --cor-vermelho: #850000; 
  --cor-verdeescuro: #006952;
  --cor-preto:  #000000;
  --cor-branco: #ffffff;
}
body{
    font-family: 'Google Sans', sans-serif;
}
#body {
    background-color: var(--cor-principal);
}
.lead {
    font-weight: 700;
}
#rodape {
    background-color: var(--cor-preto);
    color: var(--cor-branco);
}
#ancora {
    text-decoration: none;
    color: var(--cor-verdeescuro);
    font-size: 20px;
    transition: color 0.3s ease;
}
#ancora:hover {
    color: var(--cor-vermelho);
    cursor: pointer;
    text-decoration: underline;
}
.habilidades:hover .badge {
    background-color: var(--cor-cinza) !important;
    transform: scale(1.05);
    transition: 0.3s;
}








